@using BugTracker.Models.Enums;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<BTUser> _userManager;

@{
    BTUser? btUser = User.Identity!.IsAuthenticated ? await _userManager.GetUserAsync(User) : new();
}

<!DOCTYPE html>
<!--
Template Name: Icewall - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" class="light">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - BugTracker</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BugTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/app.css" />
    
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="main">
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu d-md-none">
        <div class="mobile-menu-bar">
            <a href="" class="d-flex me-auto">
                <img alt="Icewall Bootstrap HTML Admin Template" class="w-6" src="~/dist/images/logo.svg">
            </a>
            <a href="javascript:;" id="mobile-menu-toggler" class="mobile-menu-bar__toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white"></i> </a>
        </div>
        <ul class="mobile-menu-wrapper border-top border-theme-2 dark-border-dark-3 py-5">
            @if (!User.Identity!.IsAuthenticated)
            {
                <li>
                    <a asp-controller="Home" asp-action="Index" class="menu">
                        <div class="menu__icon"> <i data-feather="home"></i> </div>
                        <div class="menu__title"> Home </div>
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Login" class="menu">
                        <div class="menu__icon"> <i data-feather="log-in"></i> </div>
                        <div class="menu__title"> Sign In </div>
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Register" class="menu">
                        <div class="menu__icon"> <i data-feather="trello"></i> </div>
                        <div class="menu__title"> Register Company </div>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="Home" asp-action="Dashboard" class="menu">
                        <div class="menu__icon"> <i data-feather="home"></i> </div>
                        <div class="menu__title"> Dashboard </div>
                    </a>
                </li>
                <li>
                    <a asp-controller="Company" asp-action="Index" class="menu">
                        <div class="menu__icon"> <i data-feather="trello"></i> </div>
                        <div class="menu__title"> Company </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="layout"></i> </div>
                        <div class="menu__title">
                            Projects
                            <div class="menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                        {
                            <li>
                                <a asp-controller="Projects" asp-action="Create" class="menu">
                                    <div class="menu__icon"> <i data-feather="plus-circle"></i> </div>
                                    <div class="menu__title"> New Project </div>
                                </a>
                            </li>
                        }
                        @if (!User.IsInRole(nameof(BTRoles.Admin)))
                        {
                            <li>
                                <a asp-controller="Projects" asp-action="MyProjects" class="menu">
                                    <div class="menu__icon"> <i data-feather="target"></i> </div>
                                    <div class="menu__title"> My Projects </div>
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-controller="Projects" asp-action="AllProjects" class="menu">
                                <div class="menu__icon"> <i data-feather="circle"></i> </div>
                                <div class="menu__title"> All Projects </div>
                            </a>
                        </li>
                        @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                        {
                            <li>
                                <a asp-controller="Projects" asp-action="UnassignedProjects" class="menu">
                                    <div class="menu__icon"> <i data-feather="alert-circle"></i> </div>
                                    <div class="menu__title"> Unassigned Projects </div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Projects" asp-action="ArchivedProjects" class="menu">
                                    <div class="menu__icon"> <i data-feather="help-circle"></i> </div>
                                    <div class="menu__title"> Archived Projects </div>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="file-text"></i> </div>
                        <div class="menu__title">
                            Tickets
                            <div class="menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul class="">
                        <li>
                            <a asp-controller="Tickets" asp-action="Create" class="menu">
                                <div class="menu__icon"> <i data-feather="file-plus"></i> </div>
                                <div class="menu__title"> New Ticket </div>
                            </a>
                        </li>
                        @if (!User.IsInRole(nameof(BTRoles.Admin)))
                        {
                            <li>
                                <a asp-controller="Tickets" asp-action="MyTickets" class="menu">
                                    <div class="menu__icon"> <i data-feather="tablet"></i> </div>
                                    <div class="menu__title"> My Tickets </div>
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-controller="Tickets" asp-action="AllTickets" class="menu">
                                <div class="menu__icon"> <i data-feather="file-text"></i> </div>
                                <div class="menu__title"> All Tickets </div>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Tickets" asp-action="UnassignedTickets" class="menu">
                                <div class="menu__icon"> <i data-feather="file-minus"></i> </div>
                                <div class="menu__title"> Unassigned Tickets </div>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Tickets" asp-action="ArchivedTickets" class="menu">
                                <div class="menu__icon"> <i data-feather="folder"></i> </div>
                                <div class="menu__title"> Archived Tickets </div>
                            </a>
                        </li>

                    </ul>
                </li>
            }
        </ul>
    </div>
    <!-- END: Mobile Menu -->
    <!-- BEGIN: Top Bar -->
    <div class="top-bar-boxed border-bottom border-theme-2 dark-border-dark-3 mt-n7 mt-md-n5 mx-n3 mx-sm-n8 px-3 px-sm-8 mb-12">
        <div class="h-full d-flex align-items-center">
            <!-- BEGIN: Logo -->
            <a href="" class="-intro-x d-none d-md-flex ms-5 me-auto">
                <img class="w-6" src="~/img/ESoperLogoTransparent.png">
                <span class="text-white fs-lg ms-3"> Issue Tracker </span>
            </a>
            <!-- END: Logo -->
            <!-- BEGIN: Breadcrumb --
            <div class="-intro-x breadcrumb me-auto"> <a href="">Application</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i> <a href="" class="breadcrumb--active">Dashboard</a> </div>
            -- END: Breadcrumb -->
            @if (User.Identity!.IsAuthenticated)
            {
                <div class="fw-medium text-white">Hello @btUser!.FullName</div>
                <!-- BEGIN: Account Menu -->
                <div class="account-menu intro-x dropdown w-8 h-8 ms-5">
                    <div class="dropdown-toggle w-8 h-8 rounded-pill overflow-hidden shadow-lg image-fit zoom-in" role="button" aria-expanded="false" data-bs-toggle="dropdown">
                        <img src="~/img/DefaultProfileImage.jpg">
                    </div>
                    <div class="dropdown-menu w-56">
                        <ul class="dropdown-content bg-theme-11 dark-bg-dark-6">
                            <li class="p-2">
                                <div class="fw-medium text-white">@btUser!.FullName</div>
                            </li>
                            <li>
                                <hr class="dropdown-divider border-theme-12 dark-border-dark-3">
                            </li>
                            <li>
                                <a class="dropdown-item text-white bg-theme-1-hover dark-bg-dark-3-hover" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> <i data-feather="user" class="w-4 h-4 me-2"></i> Profile </a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit();" class="dropdown-item text-white bg-theme-1-hover dark-bg-dark-3-hover"> <i data-feather="toggle-right" class="w-4 h-4 me-2"></i> Logout </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Account Menu -->
            }
        </div>
    </div>
    <!-- END: Top Bar -->
    <div class="wrapper">
        <div class="wrapper-box">
            <!-- BEGIN: Side Menu -->
            <nav class="side-nav">
                <ul>
                    @if (!User.Identity!.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="Home" asp-action="Index" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                                <div class="side-menu__title"> Home </div>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Login" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="log-in"></i> </div>
                                <div class="side-menu__title"> Sign In </div>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Register" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="trello"></i> </div>
                                <div class="side-menu__title"> Register Company </div>
                            </a>
                        </li> 
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Home" asp-action="Dashboard" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                                <div class="side-menu__title"> Dashboard </div>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Company" asp-action="Index" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="trello"></i> </div>
                                <div class="side-menu__title"> Company </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="layout"></i> </div>
                                <div class="side-menu__title">
                                    Projects
                                    <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                                </div>
                            </a>
                            <ul class="">
                                @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                {
                                    <li>
                                        <a asp-controller="Projects" asp-action="Create" class="side-menu">
                                            <div class="side-menu__icon"> <i data-feather="plus-circle"></i> </div>
                                            <div class="side-menu__title"> New Project </div>
                                        </a>
                                    </li>
                                }
                                @if(!User.IsInRole(nameof(BTRoles.Admin)))
                                {
                                    <li>
                                        <a asp-controller="Projects" asp-action="Index" asp-route-title="My Projects" class="side-menu">
                                            <div class="side-menu__icon"> <i data-feather="target"></i> </div>
                                            <div class="side-menu__title"> My Projects </div>
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a asp-controller="Projects" asp-action="Index" asp-route-title="All Projects" class="side-menu">
                                        <div class="side-menu__icon"> <i data-feather="circle"></i> </div>
                                        <div class="side-menu__title"> All Projects </div>
                                    </a>
                                </li>
                                @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                {
                                    <li>
                                        <a asp-controller="Projects" asp-action="Index" asp-route-title="Unassigned Projects" class="side-menu">
                                            <div class="side-menu__icon"> <i data-feather="alert-circle"></i> </div>
                                            <div class="side-menu__title"> Unassigned Projects </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Projects" asp-action="Index" asp-route-title="Archived Projects" class="side-menu">
                                            <div class="side-menu__icon"> <i data-feather="help-circle"></i> </div>
                                            <div class="side-menu__title"> Archived Projects </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="file-text"></i> </div>
                                <div class="side-menu__title">
                                    Tickets
                                    <div class="side-menu__sub-icon"> <i data-feather="chevron-down"></i> </div>
                                </div>
                            </a>
                            <ul class="">
                                <li>
                                    <a asp-controller="Tickets" asp-action="Create" class="side-menu">
                                        <div class="side-menu__icon"> <i data-feather="file-plus"></i> </div>
                                        <div class="side-menu__title"> New Ticket </div>
                                    </a>
                                </li>
                                @if (!User.IsInRole(nameof(BTRoles.Admin)))
                                {
                                    <li>
                                        <a asp-controller="Tickets" asp-action="Index" asp-route-title="My Tickets" class="side-menu">
                                            <div class="side-menu__icon"> <i data-feather="tablet"></i> </div>
                                            <div class="side-menu__title"> My Tickets </div>
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a asp-controller="Tickets" asp-action="Index" asp-route-title="All Tickets" class="side-menu">
                                        <div class="side-menu__icon"> <i data-feather="file-text"></i> </div>
                                        <div class="side-menu__title"> All Tickets </div>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Tickets" asp-action="Index" asp-route-title="Unassigned Tickets" class="side-menu">
                                        <div class="side-menu__icon"> <i data-feather="file-minus"></i> </div>
                                        <div class="side-menu__title"> Unassigned Tickets </div>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Tickets" asp-action="Index" asp-route-title="Archived Tickets" class="side-menu">
                                        <div class="side-menu__icon"> <i data-feather="folder"></i> </div>
                                        <div class="side-menu__title"> Archived Tickets </div>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
            <!-- END: Side Menu -->
            <!-- BEGIN: Content -->
            <div class="content">
                @RenderBody()
            </div>
            <!-- END: Content -->
        </div>
    </div>

    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post"></form>
    <!-- BEGIN: Dark Mode Switcher--
    <div data-url="side-menu-dark-dashboard-overview-1.html" class="dark-mode-switcher cursor-pointer shadow-md position-fixed bottom-0 end-0 box dark-bg-dark-2 border rounded-pill w-40 h-12 d-flex align-items-center justify-content-center z-50 mb-10 me-10">
        <div class="me-4 text-gray-700 dark-text-gray-300">Dark Mode</div>
        <div class="dark-mode-switcher__toggle border"></div>
    </div>
     END: Dark Mode Switcher-->
    <!-- BEGIN: JS Assets-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=""places"""></script>
    <script src="~/dist/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- END: JS Assets-->
</body>
</html>