@{
    ViewData["Title"] = "Home Page";
}

<div class="m-5">
    <h1 class="heroTitle">All your projects and tickets in one place!</h1>
    <br/>
    <div class="subtitle">
        Organize your projects by manging tickets and developers
        Experience the power of IssueTracker - demo today!
    </div>
</div>
